*, *::after, *::before { 
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    display: inline-block;
    padding-top: 1rem;
    background-color: #ffd5d5;
  }

  h1 {
    width: 100%;
    letter-spacing: 2px;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(12, 0, 93);
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    color:rgb(203, 34, 34);
  }



  button { 
    text-align: center;
    background-color: #a2a5fa;
    border-color: #0d053f;
    color:#0d053f;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    height: 50%;

  }

  button:hover {
    background-color: #6640d7;
    cursor: pointer;
  }

  .game-container {
   
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(12, 1fr);
     gap: 10px;
  }



  .game-winner-loser {
    color:#3a1cbf;
    display: grid;
    grid-column-start: 8;
    grid-row-start: 1;
  }


  .round-winner-loser {
  color:#bf1c1c;
  display: grid;
  grid-column-start: 4;
  grid-row-start: 1;
  }

  .player-2-side {
    text-align: center;
    color: rgb(238, 234, 249);
    display: grid;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #bf1c1c;
    padding: 20px;
  }

  .player-1-side {
    text-align: center;
    color: rgb(249, 218, 218);
    letter-spacing: 1px;
    display: grid;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #4000ff;
    padding: 20px;
  }

.card {

    text-align: center;
    background-color: rgb(255, 255, 255);
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 2px;
  }

  .player-1-round-winner {
    display: none;
  }
  .player-2-round-winner {
    display: none;
  }
  .player-1-game-winner {
    display: none;
  }
  .player-2-game-winner {
    display: none;
  }
  .score{
    padding: 10px;
  }